thesis.log
thesis.out
thesis.aux
thesis.synctex.gz
bibliography.aux
mainmatter/ch02/chapter02.aux
mainmatter/ch03/chapter03.aux
mainmatter/ch04/chapter04.aux
mainmatter/ch05/chapter05.aux
Math/Props/ch*/*.log
Math/Props/ch*/*.aux
Math/Definitions/ch*/*.log
Math/Definitions/ch*/*.aux
Math/*/*/*.log
Math/*/*/*.aux
Math/*/*/*.swo
Math/*/*/*.swp
mainmatter/ch0*/*.log
mainmatter/ch0*/*.aux
./thesis.log
./thesis.aux
abstract.aux
bibliography.aux
